<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <h1>You are editing Games'{{foundGames.title}}'!</h1>
    <br>
    <form action="/games/{{foundGames._id}}" method="post">
        <br>
        <label>name</label><input type="text" name="name" value="{{foundGames.title}}">
        <br>
        <label>Type</label><input type="text" name="type" value="{{foundGames.genre}}">
        <br>
        <label>gender</label><input type="text" name="gender" value="{{foundGames.publisher}}">
        <br>
        <label>size</label><input type="text" name="size" value="{{foundGames.developer}}">
        <br>
        <label>health</label><input type="text" name="health" value="{{foundGames.system}}">
        <br>
      <input type="submit" value="update">
    </form>
    <form action="/delete/{{foundGames._id}}">
        <input type="submit" class="deleteBtn" value="DELETE">
    </form>



</body>

</html>
