<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <form action="/games" method="post">
        <div class="newGames">
            <label>Name</label><input type="text" name="title" placeholder="Game Title'">
            <br>
            <label>Genre</label><input type="text" name="genre" placeholder="Game Genre">
            <br>
            <label>Publisher</label><input type="text" name="publisher" placeholder="Game Publisher">
            <br>
            <label>Developer</label><input type="text" name="developer" placeholder="Game Developer">
            <br>
            <label>System</label><input type="text" name="system" placeholder="Game System">
          <input type="submit" class="newSbmt">
    </div>
    </form>
