.wrap {
   margin-right: 3rem;
  display: flex;
    flex-wrap: wrap;
    width: 14rem;
    border-style: solid;
    justify-content: center;
}

.gamewrap{
  display: flex;
  flex-flow: wrap;

}

.newGames{
  display: flex;
  margin-bottom: 15px;
  font-size: small;
}
